<div id="topbar" class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="/">Home</a></li>

        <li class="pure-menu-selected"><%= link_to "Habits", habits_path %></li>
    </ul>
</div>
